.viagem-card {
  margin: 10px;
}

.nav-bar-viagem {
  background-color: #e4e4e488 !important;
}

.logo {
  border-radius: 50px;
}

.button-left {
  margin-left: 75%;
}

@media (max-width: 600px) { 


  .button-left {
    margin-left: 20%;
  }
}
@media (max-width: 1000px) { 


  .button-left {
    margin-left: 70%;
  }
}

body {
    margin-bottom:50px;
}