<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Atech AngularJS</h1>
  </div>
  <div>
    <a href="/viagens/new" class="btn btn-primary"> Nova Viagem </a>
  </div>
  <span class="row"></span>
  <div class="row">
    <div class="panel panel-default col-md-2">
      <div class="panel-heading">
        <h3 class="panel-title text-center">{{fotos.titulo}}</h3>
      </div>
      <div class="panel-body">
        <img class="img-responsive center-block" src="">
      </div>
    </div>
  </div>
</div>